In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
reg_data = pd.read_csv('data/asset-v1_UTAustinX_DataSci.311_1T2022_type_asset_block_HW3_data_(1).csv')

In [14]:
reg_data

            y         m         x
0   -0.574576 -0.259612 -0.002808
1   -1.164994 -2.068675 -0.285469
2    2.370806 -0.091425 -0.322262
3    5.003403  1.806196  0.771402
4    5.139997  1.863873 -0.280483
..        ...       ...       ...
195  0.658954 -0.389360 -0.465227
196  5.674729  2.991028  1.360793
197 -0.286414 -0.203957 -0.607814
198 -0.049125  0.128157 -1.985909
199  3.769305  1.719608 -0.574172

[200 rows x 3 columns]

In [16]:
from pingouin import mediation_analysis

mediation_analysis(data=reg_data, x='x', m='m', y='y', alpha=0.05, seed=42)

       path      coef        se          pval  CI[2.5%]  CI[97.5%]  sig
0     m ~ X  0.910420  0.075689  2.252747e-25  0.761160   1.059680  Yes
1     Y ~ m  1.894313  0.053510  1.388252e-87  1.788790   1.999835  Yes
2     Total  1.784123  0.158506  4.873343e-23  1.471547   2.096699  Yes
3    Direct  0.102983  0.098612  2.976130e-01 -0.091487   0.297454   No
4  Indirect  1.681140  0.161288  0.000000e+00  1.350005   2.002004  Yes