In [20]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [21]:

corpus = [
   'This is the first document.',
   'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?']
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)

In [22]:
data = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

In [23]:
data

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1